.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


table, td, tr, th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin: auto;
  table-layout:fixed;
  width: 95%;
}

td {
  word-wrap:break-word;
}

input::placeholder {
  color: black;
}

li {
  margin: 10px;
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: inline;
}

.page-numbers {
  margin: 10px;
}

input, button, select {
  width: 80px;
}

span {
  cursor: pointer;
  margin-right: 10px;
}