.App {
  text-align: left;
}

.App-header {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
}

.mainPage {
  padding: 0;
  margin: 60px 80px 60px 80px;
}

.pageSection {
  background-color: white;
  margin-bottom: 40px;
}

h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: #0a4573;
  color: white;
  text-align: left;
  font-size: 35px;
}

table {
  margin: auto;
  table-layout:fixed;
  width: 95%;
}

table, td, tr, th {
  color: #0a4573;
  border-collapse: collapse;
  padding: 10px;
}

th {
  border-bottom: 2px solid rgba(190, 190, 190, 0.8);
  font-size: 20px;
}

th, td {
  padding-top: 20px;
  padding-bottom: 20px;
}

td {
  border-top: 1px solid rgb(231, 231, 231);
  word-wrap: break-word;
  font-size: 17px;
}

input, select, textarea {
  border: none;
  border-bottom: 1px solid rgb(231, 231, 231);
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-bottom: 2px solid rgb(190, 190, 190);
}

input::placeholder {
  color: black;
}

.page-numbers {
  margin: 10px;
}

input, button, select, textarea  {
  width: 90%;
}

button {
  color: white;
  padding: 10px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(75, 162, 13);
}

button:hover {
  background-color: rgb(37, 81, 6);
}

.updateButton {
  background-color: rgb(18, 100, 183);
}

.updateButton:hover {
  background-color: rgb(17, 56, 96);
}

.deleteButton{
  background-color: rgb(181, 21, 21);
}

.deleteButton:hover {
  background-color: rgb(105, 11, 11);
}

textarea {
  resize: vertical;
}

.react-datepicker-wrapper {
  width: 100%
}

.pageNumbers{
  text-align: right;
}

.pageSelect {
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.actionResult, .errorLog {
  font-size: 12px;
  color: red;
}