body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, td, tr, th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}

table {
  margin: auto;
  table-layout:fixed;
  width: 95%;
}

td {
  word-wrap:break-word;
}

input::placeholder {
  color: black;
}

li {
  margin: 10px;
  user-select: none;
  cursor: pointer;
  list-style: none;
  display: inline;
}

.page-numbers {
  margin: 10px;
}

input, button, select {
  width: 80px;
}

